
<h1 align="center">
  IMC
</h1>
<!--<input type="text" name="" [(ngModel)]="nome">

<input type="text" name="" [(ngModel)]="sobrenome">

<br>
Meu nome é {{nome}} e meu sobrenome é  {{sobrenome}}


<input type="button" (click)="clicar()" name="" value="Apagar"/> -->
<p><b>Altura:</b></p>
<input type="text"  class="form-control" name="" [(ngModel)]="altura">
<br>
<p><b>Peso:</b></p>
<input type="text" class="form-control" name="" [(ngModel)]="peso">

<br>
<br>

 O seu IMC é  {{imc}} : {{mensagem}}
<br>
<br>
 <input type="button" class="btn btn-default" (click)= "clicar()" name="" value="Calcular">
<br>
