<p>
  DIRETIVAS-CLASS-STYLE!
</p>


<input type="button" value="Botão" [class.btn-danger]="sucesso == false"
                                   [class.btn-success]="sucesso == true"
                                   [style.color]="sucesso ? 'black' : 'yellow'"
                                   [style.border]="sucesso ? '3px solid orange' : '5px solid black'">

<br>
<br>

<input type="button" (click)="alterarSucesso()" value="Alterar Botão">
<br>
<br>
<input type="button" value="Botão" [ngClass]="{'btn-danger': (sucesso == false),
                                               'btn-success': (sucesso == true)}"
                                  [ngStyle]="{'color': (sucesso ? 'black' : 'blue'),
                                               'border' : (sucesso ? '5px solid yellow' : '10px solid black')
                                              }">

<br>
<br>

<div [ngSwitch]="random">
  <div *ngSwitchCase="0" class="alert-success">ZERO</div>
  <div *ngSwitchCase="1" class="alert-danger">HUM</div>
  <div *ngSwitchCase="2" class="alert-warning">DOIS</div>
  <div *ngSwitchDefault [style.color] = "cor">

  <h1>DEFAULT: {{random}}</h1></div>
</div>
